@import "komponentit/komponentit";
@import (inline) "cljsjs/leaflet/common/leaflet.inc.css";
@import (inline) "cljsjs/codemirror/development/codemirror.css";
@import (inline) "cljsjs/codemirror/common/addon/hint/show-hint.css";

// Not sure if this is best way, this class has to be before transition classes.
.hide {
  opacity: 0.01;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
