.autocomplete {
  position: relative;
}
.autocomplete__control {
  padding: 4px 8px;
  border: 1px solid #444;
  overflow: hidden;
  cursor: text;
}
.autocomplete__control:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #444 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}
.autocomplete__control--open:after {
  border-color: transparent transparent #444 transparent;
  border-width: 0 5px 5px 5px;
}
.autocomplete__control--disabled {
  border: 1px solid #454545;
  background: #f9f9f9;
  cursor: not-allowed;
  color: #545454;
}
.autocomplete__control--disabled:after {
  border-color: #ccc transparent transparent transparent;
}
.autocomplete__input {
  border: 0;
  outline: none;
  max-width: 100%;
}
.autocomplete__input[disabled] {
  background: none;
}
.autocomplete__dropdown {
  position: absolute;
  z-index: 1000;
  width: 100%;
  min-width: 250px;
  background: #fff;
  border: 1px solid #444;
  margin-top: -1px;
}
.autocomplete__dropdown--above {
  margin-top: 0px;
  margin-bottom: -1px;
}
.autocomplete__dropdown-content {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.autocomplete__item {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.autocomplete__item:hover {
  background: #e3f5ff;
}
.autocomplete__item--selected {
  background: #CAECFF;
}
.autocomplete__item--active {
  background: #CBFFCA;
}
.autocomplete__selected-items {
  display: inline-block;
}
.autocomplete__selected-item {
  display: inline-block;
  border-radius: 2px;
  background: #CBFFCA;
  margin-right: 8px;
}
.autocomplete__item-text {
  padding: 2px 4px;
}
.autocomplete__no-results {
  padding: 4px 8px;
}
.autocomplete__level-1 {
  padding-left: 0px;
}
.autocomplete__level-2 {
  padding-left: 30px;
}
.autocomplete__level-3 {
  padding-left: 60px;
}
.autocomplete__level-4 {
  padding-left: 90px;
}
.autocomplete__level-5 {
  padding-left: 120px;
}
.autocomplete__level-6 {
  padding-left: 150px;
}
.autocomplete__level-7 {
  padding-left: 180px;
}
.autocomplete__level-8 {
  padding-left: 210px;
}
.autocomplete__level-9 {
  padding-left: 240px;
}
.autocomplete__level-10 {
  padding-left: 270px;
}
.autocomplete__level-11 {
  padding-left: 300px;
}
.autocomplete__level-12 {
  padding-left: 330px;
}
.autocomplete__level-13 {
  padding-left: 360px;
}
.autocomplete__level-14 {
  padding-left: 390px;
}
.autocomplete__level-15 {
  padding-left: 420px;
}
.autocomplete__level-16 {
  padding-left: 450px;
}
.autocomplete__level-17 {
  padding-left: 480px;
}
.autocomplete__level-18 {
  padding-left: 510px;
}
.autocomplete__level-19 {
  padding-left: 540px;
}
.autocomplete__level-19 {
  padding-left: 570px;
}
.autocomplete__remove-item-button {
  color: #444 !important;
  padding: 2px 4px;
  border-left: 1px solid #fff;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}
.autocomplete__remove-item-button:hover {
  background: #67ff64;
}
.autocomplete__clear-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 2px 4px;
}
.autocomplete__clear-button:after {
  content: "\232B";
}
.autocomplete__highlight {
  background: #FFF1C2;
}
.calendar-button-base {
  background: #eee;
  cursor: pointer;
  display: block;
  border: 0;
}
.date-range {
  display: flex;
}
.date-range__calendar {
  flex: 1;
  margin-right: 10px;
}
.date-range__quicklist {
  flex: 1;
  max-width: 150px;
  margin-right: 10px;
}
.calendar {
  width: 100%;
  border-spacing: 0;
}
.calendar__header-cell {
  padding: 1px;
}
.calendar-header {
  display: flex;
  flex-direction: row;
}
.calendar-header__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.calendar-header__prev-month {
  background: #eee;
  cursor: pointer;
  display: block;
  border: 0;
}
.calendar-header__prev-month:hover {
  background: #eee;
}
.calendar-header__prev-month:before {
  content: "<";
}
.calendar-header__next-month {
  background: #eee;
  cursor: pointer;
  display: block;
  border: 0;
}
.calendar-header__next-month:hover {
  background: #eee;
}
.calendar-header__next-month:before {
  content: ">";
}
.calendar__month-name {
  flex: 1;
}
.calendar-quicklist {
  padding: 0;
}
.calendar-quicklist__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 4px;
}
.calendar-quicklist__item {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding: 2px 4px;
}
.calendar-quicklist__item:hover {
  background: #eee;
}
.calendar-quicklist__item:last-child {
  border: 0;
}
.calendar-quicklist__item--active {
  background: lightblue;
}
.date-input__container {
  margin: 0;
  display: flex;
}
.date-input {
  flex: 1;
}
.date-input__warning:before {
  content: "!";
}
.date-input__submit {
  background: #eee;
  cursor: pointer;
  display: block;
  border: 0;
}
.date-input__submit:before {
  content: ">";
}
.calendar__week {
  width: 30px;
}
.calendar__date {
  padding: 1px;
  width: 14.285714285714286%;
}
.calendar__date--with-week-numbers {
  width: 12.5%;
}
.calendar__date--out {
  color: #bbb;
}
.calendar__date--disabled {
  color: #bbb;
}
.calendar__date-button {
  background: #eee;
  cursor: pointer;
  display: block;
  border: 0;
  padding: 1px;
  width: 100%;
  background: #a6cca6;
}
.calendar__date-button:hover {
  background: #00b300;
}
.calendar__date-button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}
.calendar__date-button[disabled]:hover {
  background: #a6cca6;
}
.calendar__date-button--selected {
  background: green;
  color: #fff;
  box-shadow: inset 0 0 1px #000;
}
.calendar__date-button--out {
  color: #bbb;
  background: none;
}
.datepicker__container {
  position: relative;
}
.datepicker {
  width: 100%;
}
.datepicker__dropdown {
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: calc(100% - 1px);
  width: 280px;
}
/*# sourceMappingURL=example.main.css.map */
