.datepicker__container {
  position: relative;
}

.datepicker {
  width: 100%;
}

.datepicker__dropdown {
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: ~"calc(100% - 1px)";
  min-width: 220px;
}
